html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body, html {
    background: #fff;
    color: #2D2B29;
    font-size: 1em;
    font-family: arial, serif;
}

a {
    color: #3374A5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,h2,h3,h4 {
    font-weight: bold;
}

h1 {
    font-size: 26px;
}

div#container {
    width: 720px;
    margin: 0 auto;
}

header {
    margin: 0;
    padding: 10px 0;
}

header h2, section h2 {
    font-size: 35px;
    padding: 0 0 10px;
    text-transform: lowercase;
    border-bottom: 1px solid #333333;
}

header p {
    font-size: 14px;
    line-height: 18px;
    margin: 0px 0;
    padding: 10px 0;
    border-bottom: 1px solid #333333;
}

header p a {
    margin: 0 5px;
}

section h2 {
    font-size: 25px;
    margin-top: 75px;
}


ul {
    list-style: none;
}

ul li {
    margin: 25px 0;
}

ul li h3 {
    font-size: 25px;
    padding: 0 0 15px;
    /*border-bottom: 3px solid #333;*/
}

ul li h3 span {
    color: #7CCC6A;
}

ul li p {
    font-size: 14px;
    line-height: 18px;
}